@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color: hsl(225, 100%, 94%);
    --secondary-color: hsl(224, 23%, 55%);
    --three-color: hsl(245, 75%, 52%);
    --light-blue: hsl(245, 56%, 53%);
    --blue-50: hsl(225, 100%, 98%);
    --blue-700: hsl(223, 47%, 23%);

}

.amiri-regular {
    font-family: "Amiri", serif;
    font-weight: 400;
    font-style: normal;
}

.amiri-bold {
    font-family: "Amiri", serif;
    font-weight: 700;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.summary-container {
    width: clamp(250px, 50%, 25rem);
    min-height: 35rem;
    border-radius: 16px;
    background-color: #fff;
    text-align: center;
}

.img-hero img {
    width: 100%;
    border-start-end-radius: 16px;
    border-start-start-radius: 16px;
    margin-block-end: 2rem;
}

.order-summary h1 {
    margin-block-end: 1.5rem;
}

.order-summary p {
    margin-block-end: 1.5rem;
    color: var(--secondary-color);
}

.summary-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 90%;
    height: 4rem;
    margin: 16px auto;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--blue-50);
}

.summary-price-p {
    flex: 0 0 1;
}

.summary-price img {
    width: 2.5rem;
}

.summary-price a:hover {
    text-decoration: none;
    cursor: pointer;
    color: var(--light-blue);
}

.summary-price-p p:first-of-type {
    font-weight: bold;
}

.summary-price-p p:nth-of-type(2) {
    color: var(--secondary-color);
}

.summary-buttons button:first-of-type {
    width: 88%;
    padding: 0.6rem;
    margin-block-start: 1rem;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    color: #fff;
    background-color: var(--three-color);
}

.summary-buttons button:first-of-type:hover {
    background-color: var(--blue-700);
    cursor: pointer;
}

.summary-buttons button:first-of-type:focus {
    background-color: var(--blue-700);
    cursor: pointer;
}

.summary-buttons button:nth-of-type(2) {
    width: 88%;
    padding: 0.6rem;
    margin-block-start: 1.2rem;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    color: var(--secondary-color);
}

.summary-buttons button:nth-of-type(2):hover {
    color: #fff;
    background-color: var(--blue-700);
    cursor: pointer;
}

.summary-buttons button:nth-of-type(2):focus {
    color: #fff;
    background-color: var(--blue-700);
    cursor: pointer;
}

@media (min-width: 1440px) {
    .summary-container {
        width: clamp(400px, 50%, 30rem);
        height: 44rem;
    }

    .order-summary {
        padding-inline: 1rem;
    }

    .order-summary h1 {
        margin-block-end: 2.5rem;
        margin-inline: 16px;
    }

    .order-summary p {
        width: clamp(55ch, 50%, 75ch);
        margin-block-end: 2.5rem;
    }

    .summary-price {
        height: 5rem;
        margin: 32px auto;
        padding: 20px;
        border-radius: 12px;
    }

    .summary-price img {
        width: 3.5rem;
    }

    .summary-buttons button:first-of-type {
        padding: 1rem;
        margin-block-start: 1.5rem;
        border: none;
        border-radius: 12px;
    }

    .summary-buttons button:nth-of-type(2) {
        padding: 1rem;
        margin-block-start: 1.5rem;
        border-radius: 12px;
        background-color: inherit;
    }

    .summary-buttons button:nth-of-type(2):hover {
        background-color: revert;
        color: var(--blue-700);;
    }

}